# Analisis Sentimen menggunakan library NLTK
Setelah melewati tahap ekstraksi fitur, dataset kemudian akan di analisis sentimen dengan memberikan label Positif, Netral atau Negatif pada setiap tweet

## 1. Import Dataset

In [3]:
import pandas as pd

# Load the dataset
file_path = 'processed_tweets.csv'
dataset = pd.read_csv(file_path)

dataset.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,349251986438356994,Mon Jun 24 19:45:37 +0000 2013,0,oh hi twilight are you pony ponyville,349251986438356994,NaN,MLP_Alicorn_Twi,en,"Leeds, England",0,2,0,https://x.com/Shelton20_Jack/status/3492519864...,906748764,Shelton20_Jack
1,349044033647157248,Mon Jun 24 06:06:31 +0000 2013,0,great hear twilight filly interesting alicorn,349045855346638849,NaN,NerdyPinkie,en,NaN,0,1,0,https://x.com/Bronywho_/status/349045855346638849,1542576176,Bronywho_
2,348985526667329537,Mon Jun 24 02:08:49 +0000 2013,0,cadance dead twilight alicorn show character d...,348986036539506688,NaN,NEligahn,en,The Grand Ovation Theater,0,0,0,https://x.com/Grimrubix/status/348986036539506688,614900888,Grimrubix
3,348932366217121793,Sun Jun 23 22:35:33 +0000 2013,0,you ok twilight look conserned,348932366217121793,NaN,MLP_Alicorn_Twi,en,"Leeds, England",0,1,0,https://x.com/Shelton20_Jack/status/3489323662...,906748764,Shelton20_Jack
4,348913737111048192,Sun Jun 23 21:21:32 +0000 2013,0,oh hi twilight are you,348913737111048192,NaN,MLP_Alicorn_Twi,en,"Leeds, England",0,1,0,https://x.com/Shelton20_Jack/status/3489137371...,906748764,Shelton20_Jack

## 2. Analisis Sentimen dengan Lexicon menggunakan Vader

In [4]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# Inisialisasi analyzer
analyzer = SentimentIntensityAnalyzer()

# Fungsi untuk mendapatkan skor sentimen
def get_sentiment(text):
    scores = analyzer.polarity_scores(text)
    if scores['compound'] >= 0.05:
        return 'positive'
    elif scores['compound'] <= -0.05:
        return 'negative'
    else:
        return 'neutral'

# Terapkan analisis sentimen pada kolom 'full_text'
dataset['sentiment'] = dataset['full_text'].apply(get_sentiment)

# Lihat hasil
print(dataset[['full_text', 'sentiment']].head())

                                           full_text sentiment
0              oh hi twilight are you pony ponyville   neutral
1      great hear twilight filly interesting alicorn  positive
2  cadance dead twilight alicorn show character d...  negative
3                     you ok twilight look conserned  positive
4                             oh hi twilight are you   neutral

## 3. Simpan hasil analisis sentimen

In [5]:
output_file_path = 'sentiment_analysis_results.csv'
dataset.to_csv(output_file_path, index=False)

print(f"Dataset with sentiment analysis saved to: {output_file_path}")

Dataset with sentiment analysis saved to: sentiment_analysis_results.csv